body{
padding:5px;
margin: 0 auto;
hyphens: auto;
overflow-wrap: break-word;
text-rendering: optimizeLegibility;
font-kerning: normal;
font-family: monospace;
}
a {
  text-decoration: none;
}
#pg {
  display: grid;
  grid-template-rows:38px calc( 100dvh - 38px );
  grid-template-columns: 1fr;
}
#map{
  display:block;
  grid-row:2;
  grid-column:1;
  overflow: auto;
  padding-left: 10px;
}
#key td{
  border: 2px solid;
  padding:7px;
}
#key table{
  border: 2px solid;
  border-collapse: collapse;
}
#key{
  font-size:20px;
  padding:10px;
  display:none;
  grid-row:2;
  grid-column:1;
  overflow: auto;
}
#heading {
  grid-row:1;
  grid-column:1;
  padding-top:0px;
  gap:.4rem;
  display: flex;
  font-size:28px;
  align-items:flex-start;
  justify-content: left;
  padding-left: 10px;
}
#heading img{
  height: 35.2px;
}
#heading img:hover,.emo:hover, .emo img:hover{
  cursor: pointer;
  background-color: yellow;
}
